<!-- {% load static %}

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<style>
   #sticky-footer {
    font-family: 'Poppins', sans-serif;
    background-color: EEE0C9;
    padding: 20px;
  }

  #sticky-footer .container {
    text-align: center;
  }
</style>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Bukoo.com</small>
  </div>
</footer> -->

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<style>
   #sticky-footer {
    font-family: 'Poppins', sans-serif;
    background-color: EEE0C9;
    padding: 20px;
  }

  #sticky-footer .container {
    text-align: center;
  }
</style>

<footer id="sticky-footer" class="tw-py-4 tw-bg-dark tw-text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Bukoo.com</small>
  </div>
</footer>
