{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content%}
<main>
  <section class="tw-container tw-max-w-xl tw-mx-auto">
    <h1 class="tw-text-center tw-text-5xl tw-font-bold tw-text-[#197278]">LOG IN</h1>
    <form method="POST">
      {% csrf_token %}
      <div class="tw-flex tw-flex-col">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
      </div>
      <div class="tw-flex tw-flex-col">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </div>
      <input type="submit" value="Submit">
    </form>
    {% if user.is_authenticated %}
    <button type="button" id="logout-button">Logout</button>
    {% endif %}
  </section>
</main>

<script type='text/javascript'>
  document.getElementById('logout-button').addEventListener('click', async function () {
    const response = await fetch(`${window.location.origin}/auth/logout/`, {
      method: "POST"
    })
    if (response.status === 200) {
      location.href = window.location.origin
    }
  })
</script>

{% endblock content %}