{% extends 'base.html' %}

{% block meta %}
<title>Book Detail</title>
{% endblock meta %}

{% block content %}
<main class="tw-container tw-max-w-screen-xl tw-mx-auto tw-flex tw-gap-8 tw-px-8">
  <aside class="tw-flex tw-flex-col tw-w-[30%] tw-gap-8 tw-sticky tw-top-0">
    <img src="" alt="" id="book-image">
    <button id="bookmark" class="tw-bg-[#ADC4CE] tw-border-none tw-text-lg tw-p-2 tw-rounded-lg">Bookmark</button>
  </aside>
  <section class="tw-flex tw-flex-col tw-gap-2">
    <h1 id="book-title">Title</h1>
    <p id="book-author">by Author</p>
    <div>
      <h2>Description</h2>
      <p id="book-description">Description</p>
    </div>
    <div>
      <h2 class="tw-mb-0">Categories</h2>
      <div id="book-genres">XXX</div>
    </div>
    <div>
      <h2>Detail</h2>
      <div class="tw-flex tw-w-full tw-flex-wrap">
        <div class="tw-w-1/2">
          <p class="tw-mb-0">Number of pages</p>
          <p id="book-num-pages">XXX</p>
        </div>
        <div class="tw-w-1/2">
          <p class="tw-mb-0">Publisher</p>
          <p id="book-publisher">XXX</p>
        </div>
        <div class="tw-w-1/2">
          <p class="tw-mb-0">Date Published</p>
          <p id="book-publish-date">XXX</p>
        </div>
        <div class="tw-w-1/2">
          <p class="tw-mb-0">ISBN</p>
          <p id="book-isbn">XXX</p>
        </div>
        <div class="tw-w-1/2">
          <p class="tw-mb-0">Language</p>
          <p id="book-language">XXX</p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}

{% block script %}
<script type='text/javascript'>
  const fetchBook = async () => {
    try {
      const urlSegment = location.href.split('/')
      const slug = urlSegment.pop() || urlSegment.pop()
      const id = slug.split('.')[0]
      const url = location.origin + '/api/book/' + id + "/"
      const params = new URLSearchParams(window.location.search)
      const books = await fetch(url + params.toString())
      return await books.json()
    } catch { }
  }

  const refreshBook = async () => {
    const book = await fetchBook()
    console.log(book);
    document.getElementById('book-image').src = book.fields.image_url
    document.getElementById('book-title').innerText = book.fields.title
    document.getElementById('book-description').innerText = book.fields.description
    document.getElementById('book-description').innerText = book.fields.description
    document.getElementById('book-num-pages').innerText = book.fields.num_pages
    document.getElementById('book-publisher').innerText = book.fields.publisher
    document.getElementById('book-publish-date').innerText = (new Date(book.fields.publish_date)).toLocaleDateString('en-us')
    document.getElementById('book-isbn').innerText = book.fields.isbn
    document.getElementById('book-language').innerText = book.fields.language
    
    const authors = book.fields.author.map(author => `<a href="">${author.name}</a>`).join(', ')
    console.log(authors);
    document.getElementById('book-author').innerHTML = 'by ' + authors

    const genres = book.fields.genres.map(genre => `<a href="">${genre.name}</a>`).join(', ')
    document.getElementById('book-genres').innerHTML = genres
  }

  refreshBook()
</script>
{% endblock script %}